.app__about {
    flex: 1;
    width: 100%;
    flex-direction: column;
    height: 100vh;

    @media screen and (max-width: 1440px) {
        height: auto
    }
}

.app__about-introduction {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    font-family: var(--font-base);

    p {
        text-align: center;
        margin-top: 1rem;
        width: 87%;
        font-size: 1.3rem;
    }
}

.app__profiles {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 4rem;
}



.app__profile-item {
    width: 210px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin: 2rem;
    border-radius: 30px;
    padding: 1rem;

    img {
        width: auto;
        height: 70px;
        border-radius: 20%;
        object-fit: cover;
    }

    p {
        text-align: center;
    }

    @media screen and (min-width: 2000px) {
        width: 370px;
        margin: 2rem 4rem;
        height: 100vh;

        img {
            height: 320px;
        }   
    }
}