.app__navbar {
    width: 100vw;
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 2rem;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(150, 150, 150, 0.036);
    position: fixed;
    z-index: 2;
}

.app__navbar-logo {
    display: flex;
    display: none;
    justify-content: flex-start;
    align-items: center;

    img {
        width: 40px;
        height: 40px;
    }

    @media screen and (min-width: 900px) {
        display:none
    }

}

.app__navbar-links {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;

    li {
        margin: 0 1rem;
        cursor: pointer;
        flex-direction: column;

        div {
            width: 5px;
            height: 5px;
            background: transparent;
            border-radius: 50%;
            margin-bottom:  5px;
        }
        
        a {
            color: var(--dark-gray-color);
            text-decoration: none;
            flex-direction: column;

            text-transform: uppercase;
            font-weight: 500;

            transition: all 0.3s ease-in-out;

            &:hover {
                color: var(--hyosun-color);
            }
        }

        &:hover {
            div {
                background: var(--hyosun-color);
            }
        }
    }

    @media screen and (max-width: 900px) {
        display: none;
    }
}

.app__navbar-menu {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: relative;

    display: flex;
    // flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--hyosun-color);

    svg {
        width: 35px;
        height: 28px;
        color: #fff;
    }

    div {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 5;
        padding: 1rem;
        width: 100vw;
        height: 500%;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        background-color: var(--white-color);
        box-shadow: 0 0 20px rgba(143, 142, 142, 0.527);

        svg {
            width: 35px;
            height: 35px;
            color: var(--hyosun-color);
            margin: 0.5rem 1rem;
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;
            
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            li {
                margin: 1rem;

                a {
                    color: var(--dark-gray-color);
                    text-decoration: none;
                    font-size: 1rem;
                    text-transform: uppercase;
                    font-weight: 500;

                    transition: all 0.3s ease-in-out;

                    &:hover {
                        color: var(--hyosun-color);
                    }
                }
            }
        }

        @media screen and (min-width: 900px) {
            display: none;            
        }
    }

    @media screen and (min-width: 900px) {
        display: none;            
    }
}


[data-theme = "dark"] {
    .app__navbar-menu {
        div {
            box-shadow: 0 0 20px rgba(48, 48, 48, 0.527);
        }
    }
}