#home {
    position: relative;
    // background-color: var(--primary-color);
    background-color: var(--primary-color);

    .app__wrapper {
        padding: 0;

        .copyright {
            display: none;
        }
    }
}

.app__header {
    flex: 1;
    width: 100%;
    height: 100%;
    flex-direction: row;

    padding: 6rem 2rem 0;

    @media screen and (min-width: 2000px) {
        padding-top: 8rem;
    }
    @media screen and (max-width: 1200px) {
        flex-direction: column;
    }
    @media screen and (max-width: 450px) {
        padding: 6rem 1rem 0 1rem;
    }

}

.app__header-info {
    flex: 0.8;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;

    @media screen and (max-width: 2000px) {
        width: 100%;
        margin-right: 0rem;
    }
}

.app__header-welcome {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    font-family: var(--font-base);
    
    h3 {
        color: var(--gray-color)
    }
    
    h1 {
        font-size: 4.3rem;
        text-align: left;
        
        span {
            color: var(--secondary-color)
        }
    }
    
    p {
        margin-top: 1rem;
        width: 87%;
        font-size: 1.3rem;
    }

    @media screen and (max-width: 1200px) {

        align-items: center;

        h1 {
            font-size: 1.8rem;
            text-align: center;
        }
    
        p {
            margin-top: 1rem;
            width: 98%;
            font-size: 0.95rem;
            text-align: center;
        }
    }
}

.app__header-img {
    height: 55vh;
    margin: 0 0 2rem ;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;

    img {
        height: 100%;
        object-fit: contain;
        flex: 1;
        z-index: 1;
    }

    @media screen and (max-width: 1200px) {
        margin: 2rem 0;
        height: 40vh;
    }
}